<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="/users/register" method="POST" >
    <h2>Register</h2>
    
    <label for="username">Username</label>
    <input type="text" name="username" required>
    
    <label for="email">Email</label>
    <input type="email"  name="email" required>
    
    <label for="profileImage">Profile Image</label>
    <!-- <input type="file" id="profileImage" name="profileImage" accept="image/*" required> -->
    <input type="text" name="profileImage">
    <label for="password">Password</label>
    <input type="password" name="password" required>
    
    <button type="submit">Submit</button>
    </form>
</body>
</html>